.App {
  background: #4e54c8;  
  background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8); 
  height:100vh;
  position: absolute;
  text-align: center;
  width: 100%;
}

.Post {
  background: #FFF;
  border: 1.5px ridge #999;
  box-shadow: 2.5px 2.5px #999;
  margin: 7.5px auto;
  padding: 10px;
  width: 37.5em;
}

h1 {
  color: #FFF;
}